@media (prefers-reduced-motion: no-preference) {
    @keyframes SpinnerSpin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

img.Spinner {
    box-sizing: border-box;

    @media (prefers-reduced-motion: no-preference) {
        animation: SpinnerSpin infinite 3s linear;
    }
}
