@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

html {
    font-family: "Overpass", sans-serif;
    font-size: 62.5%;
}

main {
    box-sizing: border-box;
    background-color: rgb(53, 53, 53);
    position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
	padding: 0;
}
